@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

body {
  background-color: #09090b;
}

/* Custom Scrollbar for the simulator logs */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #27272a;
  border-radius: 20px;
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #3f3f46;
}

@keyframes flicker {
  0% { opacity: 0.02; }
  5% { opacity: 0.05; }
  10% { opacity: 0.02; }
  15% { opacity: 0.06; }
  20% { opacity: 0.02; }
  50% { opacity: 0.02; }
  55% { opacity: 0.05; }
  60% { opacity: 0.02; }
  100% { opacity: 0.02; }
}

.text-glow {
    text-shadow: 0 0 5px currentColor;
}